<table class="cal">
<thead>
<tr><th scope="col" title="<%= l(:label_week) %>" class="week-number"></th><% 7.times do |i| %><th scope="col"><%= day_name( (calendar.first_wday+i)%7 ) %></th><% end %></tr>
</thead>
<tbody>
<tr>
<% day = calendar.startdt
while day <= calendar.enddt %>
<%= ("<td class='week-number' title='#{ l(:label_week) }'>#{(day+(11-day.cwday)%7).cweek}</td>".html_safe) if day.cwday == calendar.first_wday %>
<td class="<%= day.month==calendar.month ? 'even' : 'odd' %><%= ' today' if Date.today == day %>" id="<%= day %>">
<p class="day-num"><%= day.day %></p>

<% occ = "" %>
<% if(day.month.to_i < 10) %>
	<% if(day.day.to_i < 10) %>
		<% occ = LmsPublicHoliday.find(:all, :select => "occ_name", :conditions => ["ph_date LIKE ?", '%' + day.year.to_s + '-0' + day.month.to_s + '-0' + day.day.to_s + '%']) %>
	<% else %>
		<% occ = LmsPublicHoliday.find(:all, :select => "occ_name", :conditions => ["ph_date LIKE ?", '%' + day.year.to_s + '-0' + day.month.to_s + '-' + day.day.to_s + '%']) %>
	<% end %>	
<% else %>
	<% if(day.day.to_i < 10) %>
		<% occ = LmsPublicHoliday.find(:all, :select => "occ_name", :conditions => ["ph_date LIKE ?", '%' + day.year.to_s + '-' + day.month.to_s + '-0' + day.day.to_s + '%']) %>
	<% else %>
		<% occ = LmsPublicHoliday.find(:all, :select => "occ_name", :conditions => ["ph_date LIKE ?", '%' + day.year.to_s + '-' + day.month.to_s + '-' + day.day.to_s + '%']) %>
	<% end %>
<% end %>
<% occ_str = occ.to_s %>

<script type="text/javascript">
	var date = "<%= day %>";
	var public_holidays = "<%= @public_holidays %>";
	var ph_occ = "<%= occ_str %>";
	var leave = "";
	var user_admin = "<%= User.current.admin %>";
	
	if(user_admin == "true"){
		"<%= r_leave = LmsLeave.find(:all, :select => ["leave_dates_object", "user_id"]) %>";	
		leave = "<%= r_leave %>";
		
		var own_leave = "<%= LmsLeave.find(:all, :select => "leave_dates_object", :conditions => ["user_id LIKE ?", User.current.id]) %>";	
		
		"<%= r_ll = LmsLeave.find(:all, :select => "user_id") %>";
		"<%= r_ll_scan = r_ll %>";
		"<%= r_ll_scan = r_ll_scan.to_s.scan(/\d/).join("") %>";
		console.log("<%= r_ll_scan %>");
		
		if(leave.toString().indexOf(date) > -1){
			
			console.log("OOO: " + "<%= r_leave.to_s %>");
			
			console.log("<%= Employee.find(:all, :select => ["firstname", "lastname"], :conditions => ["id LIKE ?", r_ll_scan]) %>");
			var r_ll_user = "<%= Employee.find(:all, :select => ["firstname", "lastname"], :conditions => ["id LIKE ?", r_ll_scan]) %>";
			var ll_user = r_ll_user;
			ll_user = ll_user.replace('[#<Employee firstname: "', '');
			ll_user = ll_user.replace('", lastname: "', ' ');
			ll_user = ll_user.replace('">]','');
			
			$("#"+date).css("background-color","#CCFFFF");
			$("#"+date).append("LEAVE : " + ll_user);
		}
		if(own_leave.toString().indexOf(date) > -1){
			$("#"+date).css("background-color","#00FFCC");
			$("#"+date).append("OWN LEAVE!");
		}
	}else{
		leave = "<%= LmsLeave.find(:all, :select => "leave_dates_object", :conditions => ["user_id LIKE ?", User.current.id]) %>";
		if(leave.toString().indexOf(date) > -1){
			$("#"+date).css("background-color","#33FF99");
			$("#"+date).append("LEAVE!");
		}
	}
	
	console.log(leave);
	console.log("-------------------");
	
	ph_occ = ph_occ.replace("[#&lt;LmsPublicHoliday occ_name: &quot;","");
	ph_occ = ph_occ.replace("&quot;&gt;]","");
	
	if(public_holidays.toString().indexOf(date) > -1){
		$("#"+date).css("background-color","#FF9933");
		$("#"+date).append(ph_occ);
	}
</script>

</td>
<%= '</tr><tr>'.html_safe if day.cwday==calendar.last_wday and day!=calendar.enddt %>
<% day = day + 1
end %>
</tr>
</tbody>
</table>